@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Suspendat";
}

<hgroup>
    <h1 class="text-danger">Suspendat</h1>
    <h2 class="text-danger">Acest cont a fost suspendat, luați legătura cu secretariatul spitalului.</h2>
</hgroup>
