@{
    ViewBag.Title = "Am uitat parola";
}

<hgroup class="title">
    <h1>Un email a fost trimis cu succes !</h1>
</hgroup>
<div>
    <p>
        Vă rog să verificați email pentru a vă reseta parola.
    </p>
</div>
	
