@{
    ViewBag.Title = "Resetare parolă";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Parola a fost resetată @Html.ActionLink("apăsați aici pentru a vă loga", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
