@{
    ViewBag.Title = "Despre";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <br />
                <h2 class="page-header">
                    Despre noi
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <br>


                <p>
                    Primele clădiri ale spitalului au fost construite în anul 1900.
                    Clădirea actualului Ambulatoriu de specialitate a fost construită în anul 1958. Primul pavilion modern al spitalului a fost construit în anul 1972 cu un număr de 80 de paturi. Al doilea pavilion modern a fost construit în anul 1979 tot cu un număr de 80 de paturi.
                    In prezent, spitalul are 170 de paturi și deserveşte o populaţie de aproximativ 583 588 de locuitori.
                    Deşi la înfiinţarea sa, spitalul a fost gândit ca o unitate dedicată pacienţilor cu tuberculoză, practica demonstrează că, la ora actuala, adresabilitatea pentru patologia pulmonara netuberculoasa reprezinta 2/3 din activitatea spitalului.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/Images/pneumo1.jpg" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Echipa noastră managerială</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src=~/Images/director.jpg alt="">
                    <div class="caption">
                        <h3>
                            Ionel Popescu<br>
                            <small>Manager</small>
                        </h3>
                        <p>
                            Medic primar cu experiență de peste 10 ani în gestionarea spitalelor.
                        </p>                            <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src=~/Images/manager.jpg alt="">
                    <div class="caption">
                        <h3>
                            Maria Marilescu<br>
                            <small>Director contabil</small>
                        </h3>
                        <p>
                            Absolvent al facultății de economie cu experiență în domeniu de peste 10 ani.
                        </p>                            <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src=~/Images/accountant.jpg alt="">
                    <div class="caption">
                        <h3>
                            Sergiu Mihai <br>
                            <small>Departament IT</small>
                        </h3>
                        <p>
                            Experiență în domeniu de peste 10 ani.
                        </p>                            <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
