@{
    ViewBag.Title = "Acasă";
}

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">





            <div id="this-carousel-id" class="carousel slide hidden-xs">
                <ol class="carousel-indicators">
                    <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
                    <li data-target="#this-carousel-id" data-slide-to="1"></li>
                    <li data-target="#this-carousel-id" data-slide-to="2"></li>
                    <li data-target="#this-carousel-id" data-slide-to="3"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="item active" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/spitalpn1.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />
                        <div class="carousel-caption">
                            <h2><span style="color:dodgerblue">Spitalul de Pneumoftiziologie Bacău</span> </h2>
                        </div>
                    </div>
                    <div class="item" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/spitalpn4.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />

                    </div>
                    <div class="item" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/spitalpn2.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />

                    </div>
                    <div class="item" style="width:100%;  height:600px; overflow:hidden ">
                        <img src="~/Images/spitalpn3.jpg" alt="" style="width:100%;  height:100%; object-fit:cover " />

                    </div>
                </div>
                <a class="carousel-control left" href="#this-carousel-id" data-slide="prev"></a>
                <a class="carousel-control right" href="#this-carousel-id" data-slide="next"></a>

            </div>


        </div>
    </div>

    <br />
    <br />
 
    <div style="position:center">
        <h2 class="text-center">SERVICII MEDICALE DE ÎNALTĂ CALITATE</h2>
        <img class="img-responsive " src="~/Images/0.png" style="display:block; margin-left:auto;margin-right:auto">
        <p class="text-center" style="color:lightslategray">
            O gamă largă de servicii medicale pentru toate categoriile de vârstă.<br />
            Personal calificat si echipamente moderne de diagnosticare si analiză.
        </p>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3">

            <img class="img-responsive " src="~/Images/111.png" style="display:block; margin-left:auto;margin-right:auto; width:84px; height:77px">

            <h3 class="text-center">Spital COVID-19</h3>            <p>
             Acest spital dispune de secție covid cât și informații despre prevenirea acestui virus
            </p>
        </div>
        <div class="col-sm-3">
                <img class="img-responsive" src="~/Images/1111.png" style="display:block; margin-left:auto;margin-right:auto;width:84px; height:77px">
               
                <h3 class="text-center">Medici profesioniști</h3>
                <p>
                    Medici profesioniști cu experiență și rezultate foarte bune de alungul anilor.
                </p>

            </div>
        <div class="col-sm-3">
            <img class="img-responsive " src="~/Images/123.png" style="display:block; margin-left:auto;margin-right:auto;width:84px; height:77px">

            <h3 class="text-center">Aparatură de ultima generație</h3>                <p>
                Acest spital dispune de aparatură de ultimă generație.
            </p>
        </div>
        <div class="col-sm-3">

            <img class="img-responsive " src="~/Images/1234.png" style="display:block; margin-left:auto;margin-right:auto;width:84px; height:77px">

            <h3 class="text-center">Gărzi</h3>                <p>
                Acest spital dispune de gărzi nocturne cât și asistență 24 de ore pentru a asigura siguranța pacienților internați.
            </p>
        </div>
        </div>
    <br />
    <br />





</div>